<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart agriculture</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/mainpage.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{{ url_for('static',filename='img/favicon.ico') }}"
    />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
 </head>

  <body
    style="background-image: url( {{ url_for('static', filename='img/garden.jpg') }})"
  > 
    <header id="header">
      <div class="innertube">
        <p></p>
      </div>
    </header>

    <!-- ******** Main information table Section  ******** -->
    <main>
      <br />
      <div class="innertube" ALIGN="CENTER">
       {% if error %}
          <p><strong>Error:</strong> {{ error }}
       {% endif %}
        <h1><b>Smart agriculture - A IoT Experiment</b></h1>
        <br />
        <table style="width:80%">
          <tr id="info-bar-header">
            <th>Date</th>
            <th>Time</th>
            <th>Moisture Value</th>
            <th>Watered</th>
          </tr>
          {% for item in sensor %}
          <tr id="info-bar">
            <td>{{ item.Date }}</td>
            <td>{{ item.Time }}</td>
            <td>{{ item.Moisture }}</td>
            <td>{{ item.Watered }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>

    <!-- ******** Side Nav Section  ********  -->
    <nav id="nav">
      <div class="innertube">
        <h1>Time</h1>
        <ul>
          <iframe
            src="http://free.timeanddate.com/clock/i6moaw69/n1391/szw110/szh110/cf100/hnce1ead6/hcw2"
            frameborder="0"
            width="110"
            height="110"
          ></iframe>
        </ul>
        <h1>Date</h1>
        <ul>
          <iframe
            src="http://free.timeanddate.com/clock/i6mob2yh/n1391/tc76b75b/ahl/ftb/tt1/tw0"
            frameborder="0"
            width="133"
            height="18"
          ></iframe>
        </ul>
        <div id="pi-data-here"></div>
      </div>
    </nav>

    <!-- ******** Script section fetch data test ******** -->
    <!-- <script>
      $(document).ready(function() {
        var interval = 500; //number of milli seconds between each call
        var refresh = function() {
          $.ajax({
            url: "./return_temp.py",
            cache: false,
            success: function(html) {
              $("#pi-data-here").html(html);
              setTimeout(function() {
                refresh();
              }, interval);
            }
          });
        };
        refresh();
      });
    </script> -->

    <!--  Footer Section  -->
    <footer id="footer" ALIGN="RIGHT">
      <div class="innertube">
        <p>
          <b>
            All rights reserved 2019 @ Philip Tennevall & Susanne Jonarv
            Hultgren
          </b>
        </p>
      </div>
    </footer>
  </body>
</html>
