body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family: Sans-serif;
  line-height: 1.5em;
}

main {
  position: fixed;
  top: 300px; /* Height of the header */
  bottom: 70px; /* Height of the footer */
  left: 160px;
  right: 0;
  overflow: auto; /* Able to scroll down when tp mutch information is fetch for one page */
  background: rgb(194, 235, 190);
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
  background-attachment: fixed;
  /* background-image: url("/static/img/garden.jpg"); */
  /*background-size: auto; */
  background-size: contain;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
  background: #a8db92;
}

#nav {
  position: absolute;
  top: 300px; /* Height of the header */
  bottom: 70px; /* Height of the footer */
  left: 0;
  width: 160px;
  overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
  background: #76b75b;
}

.innertube {
  margin: 25px; /* Provides padding for the content */
  overflow: auto;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}

/*IE6 fix*/
* html body {
  padding: 50px 0 50px 230px; /* Set the first value to the height of the header, the third value to the height of the footer, and last value to the width of the nav */
}

* html main {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/*Information table from fetched data style*/
table,
th,
td {
  border: 2px solid black;
  padding: 3px;
  text-align: center;
  border-spacing: 3px;
  font-weight: bold;
}
td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
#info-bar-header {
  font-size: 20px;
  background-color: #0d9b7c;
}
#info-bar:hover {
  background-color: #7bac66;
}

/*Cannvas hummidity indicator style */
#container {
  width: 100px;
  height: 100px;

  margin: 0px auto;
  text-align: center;
}
#canvas {
  position: absolute;
  top: 73%;
  left: 55%;
  transform: translate(-50%, -50%);
}
